.CarCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CarCard p {
    color: #3c3c3b;
    line-height: 2.6rem;
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0;
}

.Image {
    height: 200px;
    width: 350px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.Price {
    color: #32b298;
    font-weight: 600;
}

.PriceP {
    margin-top: 25px !important;
}

.StarRating {
    color: gold;
    font-size: 0.8rem;
}

.Star {
    margin-right: 5px;
}

.AvatarAndNameContainer{
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.Avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 15px;
}

.Name {
    font-size: 13px;
    text-transform: capitalize;
    color: #3c3c3b;
    font-weight: 300;
}